<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.fulcrum.fulcrumd</string>
	<key>ProgramArguments</key>
	<array>
		<string>@FULCRUMD@</string>
		<string>@CONFIG@</string>
	</array>
	<key>UserName</key>
	<string>@USER@</string>
	<key>WorkingDirectory</key>
	<string>@DATADIR@</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>@DATADIR@/fulcrum.log</string>
	<key>StandardErrorPath</key>
	<string>@DATADIR@/fulcrum.log</string>
</dict>
</plist>
